SolucionExamen/apiexamen/Connected Services/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsApiexamen.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsApiexamen.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Retorno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Respuesta" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Retorno" nillable="true" type="tns:Retorno" />
  <xs:complexType name="ArrayOftblExamen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblExamen" nillable="true" type="tns:tblExamen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblExamen" nillable="true" type="tns:ArrayOftblExamen" />
  <xs:complexType name="tblExamen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idExamen" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblExamen" nillable="true" type="tns:tblExamen" />
</xs:schema>